body {
  min-width: 500px;
  background-color: var(--background-color);
}
html {
  font-size: 12px;
}
.active {
  color: var(--active-color) !important;
}
.transformMenu {
  fill: var(--active-color) !important;
  transform: rotate(-180deg);
}
