body.light {
  --color: #333;
  --header-text-color: #000;
  --header-nav-text-color: #515767;
  --header-nav-hover-color: #232527;
  --text-color: #909090;
  --header-border-color: #f1f1f1;
  --background-color: #fff;
  --active-color: #1e80ff;
  --mobile-hover-color: #252933;
  --searchbtn-color: #f2f3f5;
  --subheader-text-color: #71777c;
  --hoveritem-text-color: #71777d;
  --hoveritem-bg-color: #f4f5f5;
  --subItem-bg: #1e80ff;
  --main-background-color: #f4f5f5;
  --panel-text-color: #1d2129;
  --author-text-color: #333;
  --article-list-divider-color: hsla(0, 0%, 59.2%, 0.2);
  --list-hover-color: #fafafa;
  --body-background-color: #f2f3f5;
  --item-active-color: #1e80ff;
}
body.dark {
  --color: #fff;
  --header-text-color: #909090;
  --header-nav-text-color: #86909c;
  --header-nav-hover-color: #515767;
  --text-color: #fff;
  --background-color: #000;
  --header-border-color: #7d7d7d;
  --active-color: #fff;
  --mobile-hover-color: #fff;
  --searchbtn-color: #f2f3f5;
  --subheader-text-color: #71777c;
  --hoveritem-text-color: #71777d;
  --hoveritem-bg-color: #000;
  --subItem-bg: #1e80ff;
  --main-background-color: #0f0f0f;
  --panel-text-color: #f2f3f5;
  --author-text-color: #ddd;
  --article-list-divider-color: #fff;
  --list-hover-color: #2c2c2c;
  --item-active-color: rgb(147, 196, 218);
  --body-background-color: #313131;
}
