body.light {
  --color: #333;
  --title-color: #333;
  --header-text-color: #000;
  --header-nav-text-color: #515767;
  --header-nav-hover-color: #232527;
  --text-color: #909090;
  --header-border-color: #f1f1f1;
  --background-color: #fff;
  --active-color: #1e80ff;
  --mobile-hover-color: #252933;
  --searchbtn-color: #f2f3f5;
  --subheader-text-color: #71777c;
  --hoveritem-text-color: #71777d;
  --hoveritem-bg-color: #f4f5f5;
  --subItem-bg: #1e80ff;
  --main-background-color: #f4f5f5;
  --panel-text-color: #1d2129;
  --author-text-color: #333;
  --article-list-divider-color: hsla(0, 0%, 59.2%, 0.2);
  --list-hover-color: #fafafa;
  --body-background-color: #f2f3f5;
  --item-active-color: #1e80ff;
  --input-bg:#eaf2ff;
  --sub-bx: rgb(0 0 0 / 5%);
  --sub-border-color:#ebebeb;
  --tag-color: #71777d;
  --hoverItem-bg: white;
  --input-text: #8a919f;
  --advertise-text-color:#d6d6d6;
}

body.dark {
  --color: rgb(218, 218, 218);
  --title-color: #fff;
  --header-text-color: #909090;
  --header-nav-text-color: #86909c;
  --header-nav-hover-color: #d3d8e3;
  --text-color: #86909c;
  --background-color: #000;
  --header-border-color: #3c3c3c;
  --active-color: #fff;
  --mobile-hover-color: #fff;
  --searchbtn-color: #c8c8c8;
  --subheader-text-color: #71777c;
  --hoveritem-text-color: #71777d;
  --hoveritem-bg-color: rgb(0, 0, 0);
  --subItem-bg: #1e80ff;
  --main-background-color: #0f0f0f;
  --panel-text-color: #f2f3f5;
  --author-text-color: #ddd;
  --article-list-divider-color: #fff;
  --list-hover-color: #2c2c2c;
  --item-active-color: #6eabfb;
  --body-background-color: #313131;
  --input-bg:#909090;
  --input-text: #c3c3c3;
  --sub-bx: rgb(255 255 255 / 5%);
  --sub-border-color:#313131;
  --tag-color: #8a9aa9;
  --hoverItem-bg: rgb(24, 24, 24);
  --advertise-text-color:#919191;
}
