.recommendedBox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--body-background-color);
}
.mainContent {
  width: 100%;
  max-width: 960px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--text-color);
}
.left {
  width: 700px;
  background-color: var(--background-color);
}
.left .artListHead {
  padding: 15.6px 12px;
}
.left .artListHead a > span {
  cursor: pointer;
  display: inline-block;
  width: 56.88px;
  text-align: center;
  border-right: 1px solid var(--article-list-divider-color);
  color: var(--text-color);
}
.left .artListHead a:nth-child(3) > span {
  border: none;
}
.right {
  width: 240px;
}
.right .author {
  background-color: var(--background-color);
}
.activeType {
  color: var(--item-active-color) !important;
}
@media screen and (max-width: 940px) {
  .left {
    width: 100%;
  }
  .right {
    width: 0px;
    overflow: hidden;
  }
}
